name: release

on:
  push:
    tags:
      - "*"
  workflow_dispatch:

jobs:
  build:
    name: build (${{ matrix.platform }} ${{ matrix.target }} ${{ matrix.python }})
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        platform: [linux, darwin]
        target: [x86_64, aarch64]
        python: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        include:
          - platform: linux
            runner: ubuntu-latest
          - platform: darwin
            runner: macos-latest

    steps:
      - uses: actions/checkout@v4
      - uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.target }}
          manylinux: auto
          args: --release --out dist --interpreter ${{ matrix.python }}

      - uses: actions/upload-artifact@v4
        with:
          name: dist-${{ matrix.platform }}-${{ matrix.target }}-${{ matrix.python }}
          path: dist

  publish:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: dist
          pattern: dist-*
          merge-multiple: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
          workflow: build.yml

      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist
          password: ${{ secrets.PYPI_API_TOKEN }}
